body{
	padding: 0;
	margin: 0;
	color: black;
	font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
ul,li{
	display: block;
	padding: 0;
	margin: 0;
	
}
.container{
	width: 1170px;
	height: 900px;
    margin: 0 auto; 
    /*позиционирование по центру*/
}
.Главная {
	background: url('../img.html/фон главного экрана.jpg') no-repeat center top /cover;
width: 1600px;
height: 900px;
}
.Главная a {
	color: black;
	padding-top: 8px;
}
.logo {
	margin-right: 252px;
}
.menu{
	display: flex;	
	color:black;
}
.menu li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	color:black;
	
}
.menu li{
	margin-right: 40px;
	color:black;
}
.tel{
	font-size:17px;
	text-decoration: none;
	margin-left: 45px;
	color:black;
}
.nav{
	display: flex;
	align-items: center;
	
}
.offer {
	text-transform: uppercase;
	margin-top: 102px

}
.offer h2 {
	font-size: 18px;
	padding-top: 35px;
	color: #000000;


}
.offer h1{
	font-size: 35px;
	padding-top: 35px;

}
.btn {
	display: block;
	font-size: 17px;
	text-decoration: none;
	text-align: center;
	padding: 17px 47px;
	border: 1px solid #133471 ;
	background:linear-gradient(93.47deg, #2056C7 4.31%, #0A2041 89.46%);
	margin-top: 45px;
	width: 250px;
	height: 15px;
	border-radius: 75px;
}
.offer a{
	color:#fff;
}
.Контакты{
	background: #F8F6FC;
}
.desc-left h1{
	margin-top: 50px;
}
.desc-right h1{
	margin-top: -40px;
	margin-left: 800px;
}
.description p{
	padding-top: 80px;
}
.description img{
	margin-left: 650px;
	margin-top: -830px;
}
.description h2{
	font-size: 11px;
	padding-top: 70px;
}
.Цены{
	background: #F8F6FC;
}
.Цены h2{
	margin-top: 60px;
	font-size: 35px;
}
.Цены h3{
	font-size: 35px;
margin-top: -40px;
margin-left: 800px;
}
.abc img{

width: 477px;
height: 163px;
left: 562px;
padding-left: 310px;
padding-top: -5px;
}